.pg-create {
  padding: 10px;

  .block {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;

    .del {
      float: right;
      color: red;
    }
  }

  .text-area {
    box-sizing: border-box;
    width: 100%;
  }

  .text-area-box {
    padding: 0 10px;
  }

  .btn-area {
    button {
      width: 100%;
    }
  }
}