.cp-play {
  .mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }

  .content {
    position: fixed;
    z-index: 110;
    top: 50%;
    left: 50%;
    width: 80%;
    padding: 10px;
    background: white;
    transform: translate(-50%, -50%)
    text-align: center;
    border-radius: 6px;

    .question {
      margin-bottom: 10px;
    }

    .len {
      text-align: right;
      margin-bottom: 10px;
      font-size: .8em;
    }

    .show-desc {
      margin-top: 6px;
      font-size: .8em;
    }

    button {
      margin: 10px auto;
    }

    .jump-conf-box {
      display: flex;
    }

    .btn-confirm, .btn-jump {
      flex: 1;
    }

    .btn-jump {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    .btn-confirm {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

}